# Python
__pycache__/
*.py[cod]
*$py.class
.mypy_cache/
.ruff_cache/

# Virtual Environment
.venv/
venv/
.env.docker

# VS Code
.vscode/

# Environment
.env

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# macOS
.DS_Store